body {
  font-family: Montserrat, sans-serif;
  font-size: 17.5px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.example-spacer {
  flex: 1 1 auto;
}

header {
  display: block;
}

.page-header {
  -webkit-text-size-adjust: 100%;
  /*  background-image: url(https://c.wallhere.com/photos/c6/99/galaxy_universe_pixel_art_pixels_digital_art_artwork_black_holes_stars-1975535.jpg!d);
*/
  background-image: url(../../../assets/imgs/header-bkg2.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #090909;
  background-attachment: fixed;
  color: #fff;
  min-height: 700px;
}

.page-header .container {
  width: 1170px;
}

.top-wrapper {
  padding-top: 30px;
}

/*navbar component css*/

.main-wrapper {
  padding-top: 140px;
}

.main-wrapper h1 {
  font-weight: 600;
  font-size: 55px;
  margin: 0 0 5px;
  line-height: 75px;
}

.main-wrapper h4 {
  font-weight: 500;
  max-width: 600px;
  margin: 0;
  font-size: 18px;
  line-height: 32px;
}

.buttons-wrapper {
  padding: 60px 0;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 14px 28px;
  min-width: 230px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
}

.btn-primary {
  background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
  background: -o-linear-gradient(to left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
  background: linear-gradient(to left, #21d4fd, #b721ff);

  border: none;
  /*border: 2px solid #fff;*/
  color: #fff;
}

.btn-secondary {
  background: #090909;
  border: 2px solid #fff;
  color: #fff;
}

.buttons-wrapper .btn:first-child {
  margin-right: 20px;
}

.buttons-wrapper .btn .fa-github {
  margin-right: 6px;
  font-size: 18px;
  vertical-align: middle;
}

.btn span {
  vertical-align: middle;
}
