<app-dashboard-layout>
    <div class="selecionador-de-ingresso">
        <h2>Ingresso de Bens Móveis</h2>
        <label for="tipo-ingresso">Selecione o tipo de ingresso:</label>
        <select id="tipo-ingresso" name="tipo-ingresso" [(ngModel)]="selectedOption">
            <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
        </select>

        [inserir aqui]

        <form>
            <br><br>
            
            <label for="tipo_bem">Tipo de Bem:</label>
            <select name="tipo_bem" id="tipo_bem">
                <option value="material_permanente">Material Permanente</option>
                <option value="material_consumo">Material de Consumo</option>
                <option value="bem_mov_permanente">Bem Móvel Permanente</option>
                <option value="bem_mov">Bem Móvel</option>
                <option value="bem_mov_cultural">Bem Móvel Cultural</option>
            </select>
            <br><br>

            <label for="nome_bem">Nome do Bem:</label>
            <input type="text" id="nome_bem" name="nome_bem"><br><br>

            <label for="desc_bem">Descrição:</label>
            <textarea id="desc_bem" name="desc_bem"></textarea><br><br>

            <label for="qtd_bem">Quantidade:</label>
            <input type="number" id="qtd_bem" name="qtd_bem"><br><br>

            <label for="valor_unit">Valor Unitário:</label>
            <input type="text" id="valor_unit" name="valor_unit"><br><br>

            <label for="valor_total">Valor Total:</label>
            <input type="text" id="valor_total" name="valor_total"><br><br>

            <label for="data_aquisicao">Data de Aquisição:</label>
            <input type="date" id="data_aquisicao" name="data_aquisicao"><br><br>

            <label for="fornecedor">Fornecedor:</label>
            <input type="text" id="fornecedor" name="fornecedor"><br><br>

            <label for="num_nf">Número da Nota Fiscal:</label>
            <input type="text" id="num_nf" name="num_nf"><br><br>

            <label for="orgao">Órgão:</label>
            <input type="text" id="orgao" name="orgao"><br><br>

            <label for="entidade">Entidade:</label>
            <input type="text" id="entidade" name="entidade"><br><br>

            <label for="setor">Setor:</label>
            <input type="text" id="setor" name="setor"><br><br>

            <label for="responsavel">Responsável:</label>
            <input type="text" id="responsavel" name="responsavel"><br><br>

            <label for="observacoes">Observações:</label>
            <textarea id="observacoes" name="observacoes"></textarea><br><br>

            <input type="submit" value="Salvar">
        </form>
    </div>
</app-dashboard-layout>