<app-dashboard-layout>
    <div class="selecionador-de-ingresso">
        <h2>Ingresso de Bens Móveis</h2>
        <label for="tipo-ingresso">Selecione o tipo de ingresso:</label>
        <select id="tipo-ingresso" name="tipo-ingresso" [(ngModel)]="selectedOption">
            <option *ngFor="let option of options" [value]="option.value" [(ngModel)]="novoIngresso.tipoIngresso">{{ option.label }}</option>
        </select>

        <!-- Componente da Tabela -->
        <table>
            <thead>
                <tr>
                    <th>Nome do Bem</th>
                    <th colspan="3">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bem of novoIngresso.bensMoveis">
                    <td>{{ bem.nome }}</td>
                    <td><button class="actionButton" (click)="alert()">Ver</button></td>
                    <td><button class="actionButton" (click)="alert()">Editar</button></td>
                    <td><button class="actionButton" (click)="tableActions('remove', bem)">Excluir</button></td>
                </tr>
            </tbody>
        </table>
        <button class="tableButton" (click)="mostrarDialog.showModal()">Adicionar Bem</button>
        <!-- Botão abre o dialog abaixo -->



        <!-- Componente do Dialog com Formulário -->
        <dialog #mostrarDialog>
            <h2> Adicionar Bem Móvel</h2>
            <div>
                <label>Nome do Bem:</label>
                <input type="text" [(ngModel)]="novoBemMovel.nome">
            </div>
            <div>
                <label>Descrição:</label>
                <input type="text" [(ngModel)]="novoBemMovel.descricao">
            </div>
            <div>
                <label>Valor:</label>
                <input type="number" [(ngModel)]="novoBemMovel.valor">
            </div>
            <br>
            <!-- Tabela de Arquivos -->
            <table>
                <thead>
                    <tr>
                        <th>Nome do Arquivo</th>
                        <th>Tamanho</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let arquivo of arquivos">
                        <td>{{ arquivo.nome }}</td>
                        <td>{{ arquivo.tamanho }}</td>
                        <td>
                            <button class="actionButton" (click)="handleFileTable('remove', arquivo)">Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button class="tableButton" (click)="handleFileTable('add')">Adicionar Arquivo</button>
            </div>
            <button class="dialogAddButton" (click)="adicionarNovoBemALista(); mostrarDialog.close()">Adicionar</button>
            <button class="dialogCloseButton" (click)="mostrarDialog.close()">Voltar</button>
        </dialog>

        <button class="submitButton" (click)="onSubmit()"> Adicionar/Ingressar Bens
            Móveis
        </button>

    </div>
</app-dashboard-layout>