<app-authentication-layout>
    <form class="login-form">
        <!-- welcome and logo span -->
        <span class="login-form-title">Bem Vindo</span>
        <!--gradient color guide by: https://fvsch.com/svg-gradient-fill -->
        <a routerLink="/">
            <span class="login-form-title">
                <div class="img">
                    <img routerLink="/" class="icon2" src="../../../assets/imgs/sgi-logo.png" alt="">
                </div>
            </span>
        </a>
        <div class="error-msg" *ngIf="showError">
            Email ou senha incorreta! Tente novamente!
        </div>
        <!-- email field -->
        <div class="wrap-input">
            <input [ngClass]="email !== '' ? 'has-val input' : 'input'" [(ngModel)]="email" type="email" name="email" />
            <span class="focus-input" [attr.data-placeholder]="'Email'"></span>
        </div>
        <!-- senha field -->
        <div class="wrap-input">
            <input [ngClass]="senha !== '' ? 'has-val input' : 'input'" [(ngModel)]="senha" type="password"
                name="senha" />

            <span class="focus-input" [attr.data-placeholder]="'senha'"></span>
        </div>
        <!-- login form button -->
        <div class="container-login-form-btn">
            <button class="login-form-btn" (click)="login()">Login</button>
        </div>
        <!-- bottom text for register -->
        <div class="text-for-register">
            <span class="text-question">Não Possui conta?</span>
            <a class="text-link-register" routerLink="/register">Criar conta</a>
        </div>
    </form>
</app-authentication-layout>