<app-authentication-layout>
    <form class="login-form">
        <!-- welcome and logo span -->
        <span class="login-form-title">Bem Vindo</span>
        <!--gradient color guide by: https://fvsch.com/svg-gradient-fill -->
        <a routerLink="/">
        <span class="login-form-title">
            <div class="img">
                <svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
                    <linearGradient id="my-cool-gradient" x2="1" y2="1">
                        <stop offset="0%" stop-color=" #b721ff" />
                        <stop offset="100%" stop-color="#21d4fd" />
                    </linearGradient>
                </svg>
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" fill="url(#my-cool-gradient) #b721ff;" viewBox="0 0 32 32" >
                    <path
                        d="M28 18a1 1 0 0 0 1-1V6.84a1 1 0 0 0-.08-.25v-.08a1.13 1.13 0 0 0-.22-.27.71.71 0 0 0-.17-.11h-.14l-13-4a1 1 0 0 0-.88.15l-11 8v.05a.77.77 0 0 0-.23.28v.12a.94.94 0 0 0-.06.28A.25.25 0 0 0 3 11v14a1 1 0 0 0 .73 1l14 4a.84.84 0 0 0 .27 0 1.13 1.13 0 0 0 .32-.05l.09-.05.19-.1 10-8a1 1 0 1 0-1.24-1.56L19 26.92V15.48l8-6.4V17a1 1 0 0 0 1 1zM15.18 4.1 25.9 7.4l-3.11 2.49-10.94-3.37zM5 12.33l8.73 2.49a1 1 0 0 0 .54-1.92l-8-2.3L9.83 8l11.07 3.4-3.52 2.82a.84.84 0 0 0-.18.23.86.86 0 0 0-.07.1A1.07 1.07 0 0 0 17 15v12.67L5 24.25z" />
                </svg>
            </div>
        </span>
        </a>
        <div class="error-msg" *ngIf="showError">
            Email ou senha incorreta! Tente novamente!
        </div>
        <!-- email field -->
        <div class="wrap-input">
            <input [ngClass]="email !== '' ? 'has-val input' : 'input'" [(ngModel)]="email" type="email" name="email" />
            <span class="focus-input" [attr.data-placeholder]="'Email'"></span>
        </div>
        <!-- password field -->
        <div class="wrap-input">
            <input [ngClass]="password !== '' ? 'has-val input' : 'input'" [(ngModel)]="password" type="password"
                name="password" />

            <span class="focus-input" [attr.data-placeholder]="'Password'"></span>
        </div>
        <!-- login form button -->
        <div class="container-login-form-btn">
            <button class="login-form-btn" (click)="login()">Login</button>
        </div>
        <!-- bottom text for register -->
        <div class="text-for-register">
            <span class="text-question">Não Possui conta?</span>
            <a class="text-link-register" routerLink="/register">Criar conta</a>
        </div>
    </form>
</app-authentication-layout>