<app-authentication-layout>
    <form class="login-form">
        <!-- welcome and logo span -->
        <span class="login-form-title">Bem Vindo</span>
        <a routerLink="/">
            <span class="login-form-title">
                <div class="img">
                    <img routerLink="/" class="icon2" src="../../../assets/imgs/sgi-logo.png" alt="">
                </div>
            </span>
        </a>
        <div class="error-msg" *ngIf="showError">
            Erro! Tente novame!
        </div>
        <!-- nome field -->
        <div class="wrap-input">
            <input [ngClass]="nome !== '' ? 'has-val input' : 'input'" [(ngModel)]="nome" type="name" name="name" />
            <span class="focus-input" [attr.data-placeholder]="'Nome'"></span>
        </div>
        <!-- cpf field -->
        <div class="wrap-input">
            <input [ngClass]="cpf !== '' ? 'has-val input' : 'input'" [(ngModel)]="cpf" type="name" name="name" />
            <span class="focus-input" [attr.data-placeholder]="'cpf'"></span>
        </div>
        <!-- email field -->
        <div class="wrap-input">
            <input [ngClass]="email !== '' ? 'has-val input' : 'input'" [(ngModel)]="email" type="email" name="email" />
            <span class="focus-input" [attr.data-placeholder]="'Email'"></span>
        </div>
        <!-- password field -->
        <div class="wrap-input">
            <input [ngClass]="senha !== '' ? 'has-val input' : 'input'" [(ngModel)]="senha" type="password"
                name="senha" />
            <span class="focus-input" [attr.data-placeholder]="'senha'"></span>
        </div>
        <!-- orgaoId field -->
        <div class="wrap-input">
            <input [ngClass]="orgaoId !== '' ? 'has-val input' : 'input'" [(ngModel)]="orgaoId" type="name"
                name="name" />
            <span class="focus-input" [attr.data-placeholder]="'orgaoId'"></span>
        </div>
        <!-- setorId field -->
        <div class="wrap-input">
            <input [ngClass]="setorId !== '' ? 'has-val input' : 'input'" [(ngModel)]="setorId" type="name"
                name="name" />
            <span class="focus-input" [attr.data-placeholder]="'setorId'"></span>
        </div>
        <!-- register form button -->
        <div class="container-login-form-btn">
            <button class="login-form-btn" (click)="register()">Register</button>
        </div>
        <!-- bottom text for login -->
        <div class="text-for-register">
            <span class="text-question">Já Possui conta?</span>
            <a class="text-link-register" routerLink="/login">
                Acesse sua conta!
            </a>
        </div>
    </form>
</app-authentication-layout>