<app-authentication-layout>
    <form class="login-form">
        <!-- welcome and logo span -->
        <span class="login-form-title">Bem Vindo</span>
        <a routerLink="/">
            <span class="login-form-title">
                <div class="img">
                    <img routerLink="/" class="icon2" src="../../../assets/imgs/sgi-logo.png" alt="">
                </div>
            </span>
        </a>
        <div class="error-msg" *ngIf="showError">
            Usuário ja cadastrado! Tente outro email ou faça login!
        </div>
        <!-- name field -->
        <div class="wrap-input">
            <input [ngClass]="name !== '' ? 'has-val input' : 'input'" [(ngModel)]="name" type="name" name="name" />
            <span class="focus-input" [attr.data-placeholder]="'Nome'"></span>
        </div>
        <!-- email field -->
        <div class="wrap-input">
            <input [ngClass]="email !== '' ? 'has-val input' : 'input'" [(ngModel)]="email" type="email" name="email" />
            <span class="focus-input" [attr.data-placeholder]="'Email'"></span>
        </div>
        <!-- password field -->
        <div class="wrap-input">
            <input [ngClass]="password !== '' ? 'has-val input' : 'input'" [(ngModel)]="password" type="password"
                name="password" />
            <span class="focus-input" [attr.data-placeholder]="'Password'"></span>
        </div>
        <!-- register form button -->
        <div class="container-login-form-btn">
            <button class="login-form-btn" (click)="register()">Register</button>
        </div>
        <!-- bottom text for login -->
        <div class="text-for-register">
            <span class="text-question">Já Possui conta?</span>
            <a class="text-link-register" routerLink="/login">
                Acesse sua conta!
            </a>
        </div>
    </form>
</app-authentication-layout>