<app-main-layout>
    <div class="highlights-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-4 highlight-block">
                    <div class="icon-wrapper">
                        <img
                            src="https://d33wubrfki0l68.cloudfront.net/af047ac54e246e4a16a9874f8f8e8b23b944786a/4f102/3d.87c64f5b.svg">
                    </div>
                    <h5>Eficiente</h5>
                    <p> Ea consequat pariatur consectetur deserunt Lorem veniam sunt esse eiusmod voluptate pariatur
                        adipisicing. </p>
                </div>
                <div class="col-md-4 highlight-block">
                    <div class="icon-wrapper">
                        <img
                            src="https://d33wubrfki0l68.cloudfront.net/6fd3f1586e44b418a4afd53bc81c76f5d970f51a/d33f9/magic-wand.f171d0b3.svg">
                    </div>
                    <h5>Acessível</h5>
                    <p> Ea consequat pariatur consectetur deserunt Lorem veniam sunt esse eiusmod voluptate pariatur
                        adipisicing. </p>
                </div>
                <div class="col-md-4 highlight-block">
                    <div class="icon-wrapper">
                        <img
                            src="https://d33wubrfki0l68.cloudfront.net/c62c21329677dea388a08c2da8912c6d655b935e/9b1d8/quality.2871f361.svg">
                    </div>
                    <h5>Escalável</h5>
                    <p> Ea consequat pariatur consectetur deserunt Lorem veniam sunt esse eiusmod voluptate pariatur
                        adipisicing. </p>
                </div>
            </div>
        </div>
    </div>

<!-- POSTGRESQL -->
    <div class="enterprise-wrapper" id="enterprise">
        <div class="container">
            <div class="enterprise-column">
                <h2> PostgreSQL </h2>
                <p> 
                    Labore consequat non laborum proident velit do esse veniam incididunt exercitation voluptate elit dolore. Excepteur incididunt deserunt eiusmod consequat est irure reprehenderit laboris. Dolor deserunt incididunt occaecat tempor elit. Enim elit ex fugiat aute elit labore sit. Eu reprehenderit nisi ad cillum ipsum ex nostrud officia non laborum non tempor. Lorem quis laboris commodo nulla duis. Voluptate proident aute id do elit ex aliquip laborum. 
                </p> 
                <a
                    href="https://postgresql.com" 
                    target="_blank" 
                    class="btn btn-secondary d-inline-block"
                    title="Enterprise | NestJS - A progressive Node.js framework"> Saiba Mais...
                </a>
            </div>
        </div>
    </div>

<!-- NESTJS -->
<div class="enterprise-wrapper-nest" id="enterprise">
    <div class="container">
        <div class="enterprise-column">
            <h2> NestJS </h2>
            <p>
                Labore consequat non laborum proident velit do esse veniam incididunt exercitation voluptate elit
                dolore. Excepteur
                incididunt deserunt eiusmod consequat est irure reprehenderit laboris. Dolor deserunt incididunt
                occaecat tempor elit.
                Enim elit ex fugiat aute elit labore sit. Eu reprehenderit nisi ad cillum ipsum ex nostrud officia non
                laborum non
                tempor. Lorem quis laboris commodo nulla duis. Voluptate proident aute id do elit ex aliquip laborum.
            </p>
            <a href="https://nestjs.com" target="_blank" id="nest-btn"
                class="btn btn-secondary d-inline-block" title="Enterprise | NestJS - A progressive Node.js framework">
                Saiba mais...
            </a>
        </div>
    </div>
</div>

</app-main-layout>