<app-main-layout>
    <div class="highlights-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-4 highlight-block">
                    <div class="icon-wrapper">
                        <img
                            src="https://d33wubrfki0l68.cloudfront.net/af047ac54e246e4a16a9874f8f8e8b23b944786a/4f102/3d.87c64f5b.svg">
                    </div>
                    <h5>Eficiente</h5>
                    <p> Potencialize a gestão do seu inventário e patrimônio público com um sistema ágil e eficiente.
                    </p>
                </div>
                <div class="col-md-4 highlight-block">
                    <div class="icon-wrapper">
                        <img
                            src="https://d33wubrfki0l68.cloudfront.net/6fd3f1586e44b418a4afd53bc81c76f5d970f51a/d33f9/magic-wand.f171d0b3.svg">
                    </div>
                    <h5>Acessível</h5>
                    <p> Tenha acesso fácil e intuitivo às funcionalidades do sistema de gerenciamento de inventário e
                        patrimônio público de
                        Rondônia.</p>
                </div>
                <div class="col-md-4 highlight-block">
                    <div class="icon-wrapper">
                        <img
                            src="https://d33wubrfki0l68.cloudfront.net/c62c21329677dea388a08c2da8912c6d655b935e/9b1d8/quality.2871f361.svg">
                    </div>
                    <h5>Escalável</h5>
                    <p> Acompanhe o crescimento das demandas do seu órgão público com um sistema escalável e preparado
                        para o futuro.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- POSTGRESQL -->
    <div class="enterprise-wrapper" id="enterprise">
        <div class="container">
            <div class="enterprise-column">
                <h2> PostgreSQL </h2>
                <p>
                    O sistema utiliza o PostgreSQL como seu banco de dados confiável e eficiente. Com recursos avançados
                    e escalabilidade, o PostgreSQL garante a integridade e o desempenho necessário para gerenciar os
                    dados do sistema de
                    forma eficaz.
                </p>
                <a href="https://postgresql.com" target="_blank" class="btn btn-secondary d-inline-block"
                    title="Enterprise | NestJS - A progressive Node.js framework"> Saiba Mais...
                </a>
            </div>
        </div>
    </div>

    <!-- NESTJS -->
    <div class="enterprise-wrapper-nest" id="enterprise">
        <div class="container">
            <div class="enterprise-column">
                <h2> NestJS </h2>
                <p>
                    O sistema utiliza o framework NestJS para o desenvolvimento do back-end. O NestJS oferece recursos
                    avançados e uma arquitetura baseada em módulos, proporcionando uma estrutura sólida e modular para a
                    construção de aplicativos escaláveis e de alto desempenho.
                </p>
                <a href="https://nestjs.com" target="_blank" id="nest-btn" class="btn btn-secondary d-inline-block"
                    title="Enterprise | NestJS - A progressive Node.js framework">
                    Saiba mais...
                </a>
            </div>
        </div>
    </div>

</app-main-layout>