<app-dashboard-layout>
    <div class="main-container">
        <div class="main-header anim" style="--delay: 0s"></div>
        <div class="main-blogs">
            <div class="main-container">
                <!-- TITLE -->
                <div class="main-header anim" style="--delay: 0s">Discover</div>
                
                <!-- SUB-TITLE -->
                <div class="small-header anim" style="--delay: .3s">Most Watched</div>

            </div>
        </div>
    </div>
</app-dashboard-layout>
<!--    
        
    -->